@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
  background-color: rgb(0, 0, 0);
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  border: 4px solid rgb(0, 255, 251);
  margin:10rem;
  padding:2rem;
  color: white;
}

.App input{
  padding: 1rem;
  width: 50%;
  border: 2px solid rgb(0, 238, 255);
  font-size: 25px;
  color: white;
}
 .App span {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
 }